/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
.DS_Store

# IDE
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Build output
/public/admin
/admin-panel/node_modules
/admin-panel/dist

# Misc
npm-debug.log
yarn-error.log
nre_deploy.zip
invoice_rizquna_dump.sql
.tmp-invoice/
